__pycache__
output*
cache_*.pkl
cost-logs
*.blend
.vscode/*
*.DS_Store
.idea/
**/keys
*.so
*.zip
*.glb
*.pyc
*.ply
*.pdf
*.pk
*.pt
*.pth
*.onnx
.api_keys*
Genesis/**/*.pkl
*.egg-info*
logs
Genesis/genesis/assets/ViCo
chat_raw*.jsonl
assets/scenes/*/raw/
assets/scenes/*/gpt_cache/
assets/scenes/*/agents_num_15_with_schedules
assets/imgs/*
!assets/imgs/teaser.png
!assets/imgs/avatars/